* {
  box-sizing: border-box;
  text-align: center;

}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(https://plus.unsplash.com/premium_photo-1700427425519-361c8128e976?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: auto;
  opacity: .8;
  
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #000000;
}


table {
  width: 89%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 85px;
  margin-right: 80px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 0 0;
  overflow: hidden;

}

th, td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  background-color: #f3f3f3;
  border-bottom: 2px solid #4CAF50;
  font-weight: bold;
    color: #009879;
}

th {
  background-color: #4CAF50;
  color: #ffffff;
  text-align: left;
}



form {
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
button {
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 50%;
  box-sizing: border-box;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  border: 1px solid #ccc;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


.search-bar {
  margin-top: 20px;
  
}


.delete-btn {
  background-color: #f44336;
}
